<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
</head>
<body>
    <h1>WELCOME TO CONTACTS SYSTEM</h1>
    <h4>Enter your data</h4>
    
    <!--se indica la ruta y el método para que cuando se ingresen los datos del formulario se envien a ella.-->
    <form action="/add" method="POST">

        <input type="text" name="fullname" placeholder="Fullname">
        <input type="text" name="phone" placeholder="Phone">
        <input type="text" name="email" placeholder="Email">
        <button>Add</button>

    </form>

    <!-- python utiliza el motor de plantillas jinja2 para transformar códigos (if, for,etc.) en html 
    en este caso, validaremos el mensaje flash en la ruta add_contact
    se recibe el mensaje flash y se guarda en la variable-->
    {% with messages = get_flashed_messages() %}
    {% if messages %} <!-- si hay algo en la variable messages -->
        {% for message in messages %} <!-- se recorre el arreglo messages -->            
            <p>{{ message }}</p> <!-- se muestra messages en texto -->
        {% endfor %}
    {% endif %}
    {% endwith %}

    <table>
        <thead>
            <tr>
                <td>Fullname</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Operations</td>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.1 }}</td>
                    <td>{{ contact.2 }}</td>
                    <td>{{ contact.3 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>